    .sub_button {
        background-color: rgb(204, 0, 0);
        color: white;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 16px;
        padding-left: 16px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 12px;  /*margin adds space between the elements in CSS on the outside*/
        transition: opacity 0.15s;  /*makes it so that hover transition isn't instantaneous -> more smooth*/
        vertical-align: top;
    }

    /*hover is a psuedo class*/
    .sub_button:hover { /*the styling here will only apply when we hover over the button*/
        opacity: 0.7;   /*value from 0-1*/
    }

    .sub_button:active {
        opacity: 0.5;
    }

    .join_button {
        background-color: white;
        border-color: rgb(6, 95, 212);
        border-style: solid;
        border-width: 1px;
        color: rgb(6, 95, 212);
        padding-top: 9px;
        padding-bottom: 9px;
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 12px;
        transition: background-color 0.15s, color 0.15s;
    }

    .join_button:hover {
        color: white;
        background-color: rgb(17, 112, 255);
    }

    .join_button:active {
        opacity: 0.7;
    }

    .tweet_button {
        background-color: rgb(29, 155, 240);
        border: none;
        color: white;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 16px;
        padding-left: 16px;
        border-radius: 50px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        transition: box-shadow 0.15s;
        vertical-align: top;
    }
    
    .tweet_button:hover {
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);    /*box-shadow takes 4 args: horizontal, vertical, blur, color*/
            /*rgba adds an additional arg for opacity*/
    }